/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
h1,
h3 {
	@apply h1;
}

label {
	@apply label;
}

input {
	@apply input;
}

button {
	@apply btn btn-lg variant-filled;
}
